
.pagefadein {
    animation-name: pagefadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes pagefadein {
    0% {
        opacity: 0.5;
        scale: 0.9;
    }


    100% {
        opacity: 1;
        scale: 1;
    }
}

