
.checkboxx-input:checked + .checkboxx-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.checkboxx-input:checked + .checkboxx-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
}

.checkboxx-input:checked + .checkboxx-tile .checkboxx-icon, .checkboxx-input:checked + .checkboxx-tile .checkboxx-label {
    color: #2260ff;
}

.checkboxx-input:focus + .checkboxx-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkboxx-input:focus + .checkboxx-tile:before {
    transform: scale(1);
    opacity: 1;
}

.checkboxx-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 1.2rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkboxx-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkboxx-tile:hover {
    border-color: #2260ff;
}

.checkboxx-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.checkboxx-icon {
    transition: 0.375s ease;
    color: #494949;
}

.checkboxx-icon svg {
    width: 3rem;
    height: 3rem;
}

.checkboxx-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
}
